---
import React from "./icons/React.astro";
import Mongo from "./icons/MongoDB.astro";
import Node from "./icons/Node.astro";
import CSharp from "./icons/CSharp.astro";
import VisualBasic from "./icons/VisualBasic.astro";
import SQL from "./icons/SQL.astro";
import DotNet from "./icons/DotNet.astro";
import JavaScript from "./icons/JavaScript.astro";

const TAGS = {
  VisualBasic: {
    name: "VB",
    class: "bg-black text-white",
    icon: VisualBasic,
  },
  CSharp: {
    name: "C#",
    class: "bg-black text-white",
    icon: CSharp,
  },
  SQL: {
    name: "SQL",
    class: "bg-black text-white",
    icon: SQL,
  },
  DotNet: {
    name: ".NET",
    class: "bg-black text-white",
    icon: DotNet,
  },
  JavaScript: {
    name: "JS",
    class: "bg-black text-white",
    icon: JavaScript,
  },
  React: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  NodeJS: {
    name: "Node.js",
    class: "bg-black text-white",
    icon: Node,
  },
  MongoDB: {
    name: "MongoDB",
    class: "bg-black text-white",
    icon: Mongo,
  },
};

const EXPERIENCE = [
  {
    title: "FullStack Engineer",
    company: "Exceltic - Grupo Ingeteam",
    date: "Marzo 2023 - Mayo 2024",
    description:
      "Responsable de mantener ERPs y aplicaciones web de todo el grupo empresarial, resolver incidencias y escalar las soluciones actuales mejorando su arquitectura y migrando hacia tecnologías más modernas. Modalidad 100% remoto y autonomía total en los desarrollos.",
    link: "https://exceltic.com/",
    tags: [
      TAGS.VisualBasic,
      TAGS.DotNet,
      TAGS.CSharp,
      TAGS.SQL,
      TAGS.JavaScript,
      TAGS.NodeJS,
      TAGS.MongoDB,
      TAGS.React,
    ],
  },
  {
    title: "FullStack Developer",
    company: "IATECC",
    date: "Junio 2022 - Enero 2023",
    description:
      "Encargado de la migración de ERPs heredadas y de desarrollos de nuevas soluciones web para mejorar la eficiencia y efectividad de los procesos productivos. Modalidad de trabajo híbrida, formando parte del equipo de desarrolladores.",
    link: "https://www.iatecc.com/",
    tags: [
      TAGS.VisualBasic,
      TAGS.MongoDB,
      TAGS.DotNet,
      TAGS.SQL,
      TAGS.JavaScript,
      TAGS.CSharp,
      TAGS.React,
      TAGS.NodeJS,
    ],
  },
  {
    title: "Programador de AGVs",
    company: "Zemsania - ABB Robotics",
    date: "Agosto 2021 - Junio 2022",
    description:
      "Responsable Junior en el departamento IT, encargado de la programación de vehículos de guiado automático o AGVs. Definir el esquema funcional del cliente, desarrollar la solución integral para la automatización de la planta y realizar la puesta en marcha.",
    link: "https://new.abb.com/products/robotics/es/robots/autonomous-mobile-robots",
    tags: [
      TAGS.DotNet,
      TAGS.VisualBasic,
      TAGS.SQL,
      TAGS.CSharp,
      TAGS.React,
      TAGS.NodeJS,
      TAGS.MongoDB,
      TAGS.JavaScript,
    ],
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map(({ date, title, company, description, link, tags }) => (
      <>
        <li class="mb-10 ms-6">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700" />
          <time class="mb-1 text-sm font-normal leading-none text-sky-200/90 dark:text-gray-500">
            {date}
          </time>
          <h3 class="text-2xl font-bold text-red-200/80 mt-4">{title}</h3>
          <h3 class="text-xl text-green-200/80">{company}</h3>
          <p class="mt-4 mb-4 text-base font-normal text-gray-200 text-pretty">
            {description}
          </p>
          <ul class="flex gap-x-2 flex-row mb-2 w-[350px]">
            <div class="logos">
              <div class="logos-slide">
                {tags.map((tag) => (
                  <li class="text-white">
                    <span
                      class={`flex rounded-full text-xs ${tag.class} py-1 px-2 mb-4 items-center`}
                    >
                      <div class="flex flex-col items-center px-2">
                        <tag.icon class="size-7" />
                        <br />
                        {tag.name}
                      </div>
                    </span>
                  </li>
                ))}
              </div>
            </div>
          </ul>
          {link && (
            <a
              href={link}
              target="_blank"
              class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >
              Saber más...{" "}
              <svg
                class="w-3 h-3 ms-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a>
          )}
        </li>
      </>
    ))
  }
</ol>
<script>
  var slides = document.querySelectorAll(".logos-slide");
  slides.forEach((slide) => {
    var copy = slide.cloneNode(true);
    if (slide.parentNode) slide.parentNode.appendChild(copy);
  });
</script>
<style>
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .logos {
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: inline-block;
    position: relative;
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0));
  }

  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0));
  }

  .logos-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
  }

  .logos-slide > li {
    display: inline-block; /* Esto asegura que los íconos se muestren en una fila horizontal */
  }

  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }
</style>
